<div class="history">

    <div class="caption sub-heading">
        Recently opened
    </div>

    <div class="recently-opened">

        <!-- Max 8 items -->
        @foreach (var item in this._HistoryItems)
        {
            var title = string.Join(" / ", item.Segments.Append(item.Caption));
            var id = $"p:{item.Id}";
            var iconType = item.Type == NavigationItemType.Story ? SvgIconType.Component : SvgIconType.Document;
            var cssClass = item.Type == NavigationItemType.Story ? "type-story-collection" : "type-docs";

            <button @key="id" title="@title" class="item @cssClass" @onclick="@(() => this.OnClickHistoryItem(item))" @onpointerenter="@(() => OnHover(id))" aria-selected="@IsSelected(id)">
                <SvgIcon Type="iconType" />
                <div class="label">
                    <div class="title">
                        @item.Caption
                    </div>
                    <div class="path">
                        @foreach (var segment in item.Segments)
                        {
                            <span>@segment</span>
                        }
                    </div>
                </div>
            </button>
        }

    </div>

    <div class="actions">

        <div class="action" @onclick="BackToComponents" @onpointerenter="@(() => OnHover("back-to-components"))" aria-selected="@IsSelected("back-to-components")">
            <SvgIcon Type="SvgIconType.NavigationBack" />
            <span class="text">Back to components</span>
            <KeyMap Key="new (Code.Escape)" FreeSize="true" />
        </div>

        <div class="action" @onclick="ClearHistory" @onpointerenter="@(() => OnHover("clear-history"))" aria-selected="@IsSelected("clear-history")">
            <SvgIcon Type="SvgIconType.TrashCan" />
            <span class="text">Clear history</span>
        </div>

    </div>
</div>

@code
{
    [CascadingParameter]
    protected IServiceProvider Services { get; init; } = default!;

    [Parameter]
    public EventCallback ExitHistoryView { get; set; }

    private NavigationService? _NavigationService;

    private IEnumerable<NavigationListItem> _HistoryItems = Enumerable.Empty<NavigationListItem>();

    private string? _LastHoveredId;

    private bool IsSelected(string id) => this._LastHoveredId == id;

    protected override async Task OnInitializedAsync()
    {
        this._NavigationService = this.Services.GetRequiredService<NavigationService>();
        this._HistoryItems = await this._NavigationService.GetHistoryItemsAsync();
    }

    private void OnHover(string id)
    {
        this._LastHoveredId = id;
    }

    private async Task OnClickHistoryItem(NavigationListItem historyItem)
    {
        this._NavigationService?.NavigateTo(historyItem);
        await this.ExitHistoryView.InvokeAsync();
    }

    private async Task BackToComponents()
    {
        await this.ExitHistoryView.InvokeAsync();
    }

    private async Task ClearHistory()
    {
        if (this._NavigationService == null) return;
        await this._NavigationService.ClearHistoryAsync();
        await this.ExitHistoryView.InvokeAsync();
    }
}