<div class="history">

    <div class="caption sub-heading">
        Recently opened
    </div>

    <div class="recently-opened">

        <button title="Examples / UI / Button / Docs" class="item type-docs" @onpointerenter="@(() => OnHover("p:examples-ui-button-docs"))" aria-selected="@IsSelected("p:examples-ui-button-docs")">
            <SvgIcon Type="SvgIconType.Document" />
            <div class="label">
                <div class="title">
                    Docs
                </div>
                <div class="path">
                    <span>Examples</span>
                    <span>UI</span>
                    <span>Button</span>
                </div>
            </div>
        </button>

        <button title="Examples / UI / Button" class="item type-story-collection" @onpointerenter="@(() => OnHover("p:examples-ui-button"))" aria-selected="@IsSelected("p:examples-ui-button")">
            <SvgIcon Type="SvgIconType.Component"/>
            <div class="label">
                <div class="title">
                    Button
                </div>
                <div class="path">
                    <span>Examples</span>
                    <span>UI</span>
                </div>
            </div>
        </button>

    </div>

    <div class="actions">

        <div class="action" @onclick="BackToComponents" @onpointerenter="@(() => OnHover("back-to-components"))" aria-selected="@IsSelected("back-to-components")">
            <SvgIcon Type="SvgIconType.NavigationBack" />
            <span class="text">Back to components</span>
            <KeyMap Key="new (Code.Escape)" FreeSize="true" />
        </div>

        <div class="action" @onclick="ClearHistory" @onpointerenter="@(() => OnHover("clear-history"))" aria-selected="@IsSelected("clear-history")">
            <SvgIcon Type="SvgIconType.TrashCan" />
            <span class="text">Clear history</span>
        </div>

    </div>
</div>

@code
{
    [Parameter]
    public EventCallback OnClickExit { get; set; }

    private string? _LastHoveredId;

    private void OnHover(string id)
    {
        _LastHoveredId = id;
    }

    private bool IsSelected(string id) => this._LastHoveredId == id;

    private async Task BackToComponents()
    {
        await this.OnClickExit.InvokeAsync();
    }

    private void ClearHistory()
    {
    }
}