@using BlazingStory.Internals.Pages.Canvas.Controls.ParameterControllers.Controllers

@{
    var primaryType = this.Parameter?.TypeStructure.PrimaryType;
}

@if (primaryType is null || this.Parameter is null)
{
    <span>@(Value?.ToString() ?? "-")</span>
}
else if (primaryType == typeof(string))
{
    <TextParameterController Key="@Key" Parameter="Parameter" Value="Value" OnInput="OnInput" />
}
else if (primaryType == typeof(bool))
{
    <BoolParameterController Key="@Key" Parameter="Parameter" Value="Value" OnInput="OnInput" />
}
else if (primaryType == typeof(int))
{
    <NumberParameterController Key="@Key" Parameter="Parameter" Value="Value" OnInput="OnInput" />
}
else if (primaryType.IsEnum == true)
{
    <EnumParameterController Key="@Key" Parameter="Parameter" Value="Value" OnInput="OnInput" />
}
else if (Parameter.Type.IsRenderFragment())
{
    <RenderFragmentParameterController Key="@Key" Parameter="Parameter" Value="Value" OnInput="OnInput" />
}
else
{
    <span>@(Value?.ToString() ?? "-")</span>
}
