@implements IAsyncDisposable

<style>
    .default-background {
        position: fixed;
        inset: 0;
        background-color: #f6f9fc;
    }

    @@media (prefers-color-scheme: dark) {
        .default-background {
            background-color: #222425;
        }
    }

    .default-background.init-level-3 {
        display: none;
    }
</style>

@*
    By default, the HTML element is unscrollable.
    This is required to make annoying scroll bars invisible while adjusting the preview frame size to fit iframe contents on "Docs" pages.
    After adjustment, the "_blazing_story_ready_for_visible" CSS class is added, and then the preview frame contents are scrollable.
    (See also: BlazingStory/Internals/Pages/IFrame.razor.ts)
*@
<style>
    html:not(._blazing_story_ready_for_visible) {
        overflow: hidden;
    }
</style>

<div class="default-background init-level-@(this._InitLevel)"></div>

<CascadingValue TValue="IServiceProvider" Value="this._ServiceScope?.ServiceProvider">

    <StoriesRazorDetector Assemblies="this.Assemblies" StoriesStore="this._StoriesStore" />

    <CascadingValue Value="this._AddonsStore">

        <div style="display:none;">
            @foreach (var addonType in this._AddonsTypes)
            {
                <DynamicComponent @key="addonType" Type="addonType" />
            }
        </div>

        <div class="color-scheme-container preferes-color-scheme-@this._PreferesColorScheme" style="transition: opacity 0.2s linear; opacity: @(this._InitLevel >=2 ? 1 : 0); visibility: @(this._InitLevel >= 1 ? "visible" : "hidden");">
            <CascadingValue Value="this._StoriesStore">
                <CascadingValue Value="this">

                    <Router AppAssembly="@typeof(BlazingStoryApp).Assembly">
                        <Found Context="routeData">
                            <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
                        </Found>
                        <NotFound>
                            <PageTitle>Not found</PageTitle>
                            <LayoutView Layout="@typeof(MainLayout)">
                                <p role="alert" style="padding:12px 32px;">Sorry, there's nothing at this address.</p>
                            </LayoutView>
                        </NotFound>
                    </Router>

                </CascadingValue>
            </CascadingValue>
        </div>

    </CascadingValue>
</CascadingValue>
