@using BlazingStory.Internals.Pages.Canvas.Controls.ParameterControllers.Controllers
@attribute [Stories("Internals/Pages/Canvas/Controls/ParameterControllers/Controllers/NumberParameterController")]

<Stories TComponent="NumberParameterController" Layout="typeof(MarginedFrame)">

    @* ---- Nullable Int32 ---- *@

    <Story Name="Nullable Int32 - No Value">
        <Template>
            <Stack>
                <NumberParameterController Key="key"
                                           Parameter="NullableInt32"
                                           Value="_V1Unknown"
                                           OnInput="arg => _V1Unknown = arg.Value">
                </NumberParameterController>

                <ResetButton OnClick="() => _V1Unknown = Unknown.Value" />
            </Stack>
            @ValueDisplay(_V1Unknown)
        </Template>
    </Story>

    <Story Name="Nullable Int32 - Initial Value">
        <Template>
            <Stack>
                <NumberParameterController Key="key"
                                           Parameter="NullableInt32"
                                           Value="_V2Int32"
                                           OnInput="arg => _V2Int32 = arg.Value">
                </NumberParameterController>
                <ResetButton OnClick="() => _V2Int32 = 123" />
            </Stack>
            @ValueDisplay(_V2Int32)
        </Template>
    </Story>

    <Story Name="Nullable Int32 - Null Value">
        <Template>
            <Stack>
                <NumberParameterController Key="key"
                                           Parameter="NullableInt32"
                                           Value="_V3Null"
                                           OnInput="arg => _V3Null = arg.Value">
                </NumberParameterController>
                <ResetButton OnClick="() => _V3Null = null" />
            </Stack>
            @ValueDisplay(_V3Null)
        </Template>
    </Story>
    
    @* ---- Non Nullable Int32 ---- *@

    <Story Name="Non Nullable Int32 - No Value">
        <Template>
            <Stack>
                <NumberParameterController Key="key"
                                           Parameter="Int32"
                                           Value="_V1Unknown"
                                           OnInput="arg => _V1Unknown = arg.Value">
                </NumberParameterController>
                <ResetButton OnClick="() => _V1Unknown = Unknown.Value" />
            </Stack>
            @ValueDisplay(_V1Unknown)
        </Template>
    </Story>

    <Story Name="Non Nullable Int32 - Initial Value">
        <Template>
            <Stack>

                <NumberParameterController Key="key"
                                           Parameter="Int32"
                                           Value="_V2Int32"
                                           OnInput="arg => _V2Int32 = arg.Value">
                </NumberParameterController>
                <ResetButton OnClick="() => _V2Int32 = 123" />
            </Stack>
            @ValueDisplay(_V2Int32)
        </Template>
    </Story>

    <Story Name="Non Nullable Int32 - Null Value">
        <Template>
            <Stack>

                <NumberParameterController Key="key"
                                           Parameter="Int32"
                                           Value="_V3Null"
                                           OnInput="arg => _V3Null = arg.Value">
                </NumberParameterController>
                <ResetButton OnClick="() => _V3Null = null" />
            </Stack>
            @ValueDisplay(_V3Null)
        </Template>
    </Story>

    @* ---- Nullable Decimal ---- *@

    <Story Name="Nullable Decimal - No Value">
        <Template>
            <Stack>
                <NumberParameterController Key="key"
                                           Parameter="NullableDecimal"
                                           Value="_V1Unknown"
                                           OnInput="arg => _V1Unknown = arg.Value">
                </NumberParameterController>

                <ResetButton OnClick="() => _V1Unknown = Unknown.Value" />
            </Stack>
            @ValueDisplay(_V1Unknown)
        </Template>
    </Story>

    <Story Name="Nullable Decimal - Initial Value">
        <Template>
            <Stack>
                <NumberParameterController Key="key"
                                           Parameter="NullableDecimal"
                                           Value="_V2Decimal"
                                           OnInput="arg => _V2Decimal = arg.Value">
                </NumberParameterController>
                <ResetButton OnClick="() => _V2Decimal = 123.45m" />
            </Stack>
            @ValueDisplay(_V2Decimal)
        </Template>
    </Story>

    <Story Name="Nullable Decimal - Null Value">
        <Template>
            <Stack>
                <NumberParameterController Key="key"
                                           Parameter="NullableDecimal"
                                           Value="_V3Null"
                                           OnInput="arg => _V3Null = arg.Value">
                </NumberParameterController>
                <ResetButton OnClick="() => _V3Null = null" />
            </Stack>
            @ValueDisplay(_V3Null)
        </Template>
    </Story>

    @* ---- Non Nullable Decimal ---- *@

    <Story Name="Non Nullable Decimal - No Value">
        <Template>
            <Stack>
                <NumberParameterController Key="key"
                                           Parameter="Decimal"
                                           Value="_V1Unknown"
                                           OnInput="arg => _V1Unknown = arg.Value">
                </NumberParameterController>
                <ResetButton OnClick="() => _V1Unknown = Unknown.Value" />
            </Stack>
            @ValueDisplay(_V1Unknown)
        </Template>
    </Story>

    <Story Name="Non Nullable Decimal - Initial Value">
        <Template>
            <Stack>

                <NumberParameterController Key="key"
                                           Parameter="Decimal"
                                           Value="_V2Decimal"
                                           OnInput="arg => _V2Decimal = arg.Value">
                </NumberParameterController>
                <ResetButton OnClick="() => _V2Decimal = 123.45m" />
            </Stack>
            @ValueDisplay(_V2Decimal)
        </Template>
    </Story>

    <Story Name="Non Nullable Decimal - Null Value">
        <Template>
            <Stack>

                <NumberParameterController Key="key"
                                           Parameter="Decimal"
                                           Value="_V3Null"
                                           OnInput="arg => _V3Null = arg.Value">
                </NumberParameterController>
                <ResetButton OnClick="() => _V3Null = null" />
            </Stack>
            @ValueDisplay(_V3Null)
        </Template>
    </Story>

</Stories>

@code
{
    private RenderFragment<object?> ValueDisplay = (value) => @<p>@value?.ToString() (@(value?.GetType().Name ?? "null"))</p>;

    private readonly ComponentParameter Int32 = SampleComponent.CreateParameter(nameof(SampleComponent.Int32));

    private readonly ComponentParameter NullableInt32 = SampleComponent.CreateParameter(nameof(SampleComponent.NullableInt32));

    private readonly ComponentParameter Decimal = SampleComponent.CreateParameter(nameof(SampleComponent.Decimal));

    private readonly ComponentParameter NullableDecimal = SampleComponent.CreateParameter(nameof(SampleComponent.NullableDecimal));

    private object? _V1Unknown = Unknown.Value;

    private object? _V2Int32 = 123;
    
    private object? _V2Decimal = 123.45m;

    private object? _V3Null = null;
}