@using System.Text.Json
@using System.Text.Encodings.Web

@code
{
    private static readonly JsonSerializerOptions _jsonSerializerOptions = new() { Encoder = JavaScriptEncoder.UnsafeRelaxedJsonEscaping };

    public static RenderFragment<string> Separator => (string text) => @<span class="separator" bs-actions-panel-tags>@text</span>;
#pragma warning disable IL2026
    public static RenderFragment<JsonElement> RenderLogValue => [DynamicDependency(DynamicallyAccessedMemberTypes.All, typeof(JsonElement))] (JsonElement value) =>
    @<text>
        @if (value.ValueKind == JsonValueKind.Object)
    {
        <span class="action-value value-kind-object" bs-actions-panel-tags>
            <span>&#123;</span>
            @foreach (var property in value.EnumerateObject().Select((prop, index) => (Name: prop.Name, Value: prop.Value, Index: index)))
        {
        if (property.Index > 0) {
            @ActionsPanelTags.Separator(",")
        }
            <span class="property-name">@property.Name</span>
            @ActionsPanelTags.Separator(":")
            @RenderLogValue(property.Value)
        }
            <span>&#125;</span>
        </span>
    }
    else if(value.ValueKind == JsonValueKind.Array)
    {
        <span>(@value.EnumerateArray().Count())</span>
        <span>&#91;</span>
        @foreach (var element in value.EnumerateArray().Select((element, index) => (Value: element, Index: index))) {
    if (element.Index > 0) {
        @ActionsPanelTags.Separator(",")
    }
        @RenderLogValue(element.Value)
    }
        <span>&#93;</span>
    }
    else
    {
        <span class="@CssClass("action-value", new { value.ValueKind })" bs-actions-panel-tags>@JsonSerializer.Serialize(value, _jsonSerializerOptions)</span>
    }
    </text>;
#pragma warning restore IL2026
}