@using System.Text.Json

<div class="action-log-line">

    @if (this.Repeat > 1)
    {
        <span class="action-repeat">@this.Repeat</span>
    }

    <div class="action-log-content">

        <div class="action-log-parent">

            @if (this.Value.ValueKind == JsonValueKind.Object)
            {
                <span class="@CssClass("action-args-node",new{ Expanded = this._IsExpanded })" @onclick="OnClickNodeIcon">
                    ▶
                </span>
            }

            <span class="action-name">@this.Name</span>
            <span class="separator">:</span>
            <span class="action-value">@JsonSerializer.Serialize(this.Value)</span>
        </div>

        @if (this.Value.ValueKind == JsonValueKind.Object && this._IsExpanded)
        {
            <div class="action-log-children">
                @foreach (var property in this.Value.EnumerateObject())
                {
                    <ActionsPanelLogLine @key="property.Name" Name="@property.Name" Value="@property.Value" />
                }
            </div>
        }

    </div>
</div>

@code
{
    [Parameter]
    public int Repeat { get; set; }

    [Parameter, EditorRequired]
    public string? Name { get; set; }

    [Parameter, EditorRequired]
    public JsonElement Value { get; set; }

    private bool _IsExpanded = false;

    private void OnClickNodeIcon()
    {
        this._IsExpanded = !this._IsExpanded;
    }
}