@foreach (var item in this.Items ?? Array.Empty<object?>())
{
    var isChecked = this.Value?.Equals(item) == true;
    <div>
        <label>
            <input type="radio" name="@this.Name" value="@item" checked="@isChecked" @onchange="@((arg) => this.OnChange.InvokeAsync(arg))">
            <span>@item</span>
        </label>
    </div>
}
