@inject NavigationManager NavigationManager

<div class="navigation-tree">
    @if (this.Item != null)
    {
        @foreach (var item in this.Item.SubItems)
        {
            if (this.GetNavigationUrl == null) throw new InvalidOperationException($"The {nameof(GetNavigationUrl)} parameter is required.");
            var href = this.GetNavigationUrl(item);
            var style = $"padding-left: calc({this.IndentLevel} * var(--bs-sidebar-nav-indent-size));";
            var tabIndex = this.SubHeading ? "unset" : "-1";
            var active = (item.Type == NavigationTreeItemType.Story) && (this.RouteData?.RouteToStoryOrDocs == true) && (this.RouteData?.Parameter == item.NavigationPath);

            <div @key="item.Caption" class="navigation-tree-item @CssClass(new {item.Expanded, this.SubHeading, Type = item.Type.ToString(), active })">

                @* .caption *@
                <div class="caption">
                    @if (item.Type != NavigationTreeItemType.Story)
                    {
                        @* .action *@
                        <button class="action" tabindex="@tabIndex" @onclick="(() => ToggleItemExpansion(item))" style="@style">
                            @NavigationTreeItemContent(item)
                        </button>
                    }
                    else
                    {
                        @* .action *@
                        <a href="@href" class="action" tabindex="@tabIndex" @onclick="(() => ToggleItemExpansion(item))" style="@style">
                            @NavigationTreeItemContent(item)
                        </a>
                    }
                    @if (this.SubHeading)
                    {
                        @* .sub-heading-action *@
                        var subHeadingActionIcon = item.IsExpandedAll ? SvgIconType.CollapseAll : SvgIconType.ExpandAll;
                        <button class="sub-heading-action" @onclick="() => item.ToggleSubItemsExpansion()">
                            <SvgIcon Type="subHeadingActionIcon" />
                        </button>
                    }
                </div>

                <div class="sub-items">
                    <NavigationTreeItemComponent Item="item" IndentLevel="@(this.SubHeading ? this.IndentLevel : this.IndentLevel + 1)" ExpansionChanged="(() => this.ExpansionChanged.InvokeAsync())" GetNavigationUrl="this.GetNavigationUrl" />
                </div>
            </div>
        }
    }
</div>

@code {
    private RenderFragment<NavigationTreeItem> NavigationTreeItemContent => (NavigationTreeItem item) =>
    @<text>
        <span class="chevron"></span>
        <span class="icon">
            <SvgIcon Type="GetIconType(item)" />
        </span>
        @item.Caption
        </text>
    ;

    [CascadingParameter]
    public QueryRouteData? RouteData { get; set; }

    [Parameter, EditorRequired]
    public NavigationTreeItem? Item { get; set; }

    [Parameter]
    public bool SubHeading { get; set; }

    [Parameter]
    public int IndentLevel { get; set; }

    [Parameter]
    public EventCallback ExpansionChanged { get; set; }

    [Parameter, EditorRequired]
    public Func<NavigationTreeItem, string>? GetNavigationUrl { get; set; }

    private async Task ToggleItemExpansion(NavigationTreeItem item)
    {
        if (this.GetNavigationUrl == null) throw new InvalidOperationException($"The {nameof(GetNavigationUrl)} parameter is required.");

        item.Expanded = !item.Expanded;
        await ExpansionChanged.InvokeAsync();

        if (item.Type == NavigationTreeItemType.StoryCollection && item.Expanded && item.SubItems.Any())
        {
            var storyItemOf1st = item.SubItems.First();
            this.NavigationManager.NavigateTo(this.GetNavigationUrl.Invoke(storyItemOf1st));
        }
    }

    private SvgIconType GetIconType(NavigationTreeItem item)
    {
        return item.Type switch
        {
            NavigationTreeItemType.StoryCollection => SvgIconType.Component,
            NavigationTreeItemType.Story => SvgIconType.BookmarkHollow,
            _ => SvgIconType.Folder
        };
    }
}
