@using BlazingStory.Addons.BuiltIns.Panel.Controls.ParameterControllers
@attribute [Stories("Addons/BuiltIns/Panel/Controls/ParameterControllers/Controllers/BoolParameterController")]

<Stories TComponent="BoolParameterController">

    <Story Name="Nullable - No Value">
        <Template>
            <Stack>
                <CascadingValue Value="@(new ParameterControllerContext("key", NullableBool, _V1, EventCallback.Factory.Create<ParameterInputEventArgs>(this, arg => _V1 = arg.Value)))">
                    <BoolParameterController />
                </CascadingValue>
                <ResetButton OnClick="() => _V1 = Unknown.Value" />
            </Stack>
            <p>@(_V1?.ToString() ?? "(null)")</p>
        </Template>
    </Story>

    <Story Name="Nullable - Initial Value">
        <Template>
            <Stack>
                <CascadingValue Value="@(new ParameterControllerContext("key", NullableBool, _V2, EventCallback.Factory.Create<ParameterInputEventArgs>(this, arg => _V2 = arg.Value)))">
                    <BoolParameterController />
                </CascadingValue>
                <ResetButton OnClick="() => _V2 = 123" />
            </Stack>
            <p>@(_V2?.ToString() ?? "(null)")</p>
        </Template>
    </Story>

    <Story Name="Nullable - Null Value">
        <Template>
            <Stack>
                <CascadingValue Value="@(new ParameterControllerContext("key", NullableBool, _V3, EventCallback.Factory.Create<ParameterInputEventArgs>(this, arg => _V3 = arg.Value)))">
                    <BoolParameterController />
                </CascadingValue>
                <ResetButton OnClick="() => _V3 = null" />
            </Stack>
            <p>@(_V3?.ToString() ?? "(null)")</p>
        </Template>
    </Story>

    <Story Name="Non Nullable - No Value">
        <Template>
            <Stack>
                <CascadingValue Value="@(new ParameterControllerContext("key", Bool, _V1, EventCallback.Factory.Create<ParameterInputEventArgs>(this, arg => _V1 = arg.Value)))">
                    <BoolParameterController />
                </CascadingValue>
                <ResetButton OnClick="() => _V1 = Unknown.Value" />
            </Stack>
            <p>@(_V1?.ToString() ?? "(null)")</p>
        </Template>
    </Story>

    <Story Name="Non Nullable - Initial Value">
        <Template>
            <Stack>
                <CascadingValue Value="@(new ParameterControllerContext("key", Bool, _V2, EventCallback.Factory.Create<ParameterInputEventArgs>(this, arg => _V2 = arg.Value)))">
                    <BoolParameterController />
                </CascadingValue>
                <ResetButton OnClick="() => _V2 = 123" />
            </Stack>
            <p>@(_V2?.ToString() ?? "(null)")</p>
        </Template>
    </Story>

    <Story Name="Non Nullable - Null Value">
        <Template>
            <Stack>
                <CascadingValue Value="@(new ParameterControllerContext("key", Bool, _V3, EventCallback.Factory.Create<ParameterInputEventArgs>(this, arg => _V3 = arg.Value)))">
                    <BoolParameterController />
                </CascadingValue>
                <ResetButton OnClick="() => _V3 = null" />
            </Stack>
            <p>@(_V3?.ToString() ?? "(null)")</p>
        </Template>
    </Story>
</Stories>

@code
{
    private readonly IComponentParameter Bool = SampleComponent.CreateParameter(nameof(SampleComponent.Bool));

    private readonly IComponentParameter NullableBool = SampleComponent.CreateParameter(nameof(SampleComponent.NullableBool));

    private object? _V1 = Unknown.Value;

    private object? _V2 = true;

    private object? _V3 = null;
}