@using BlazingStory.Addons.BuiltIns.Panel.Controls.ParameterControllers
@attribute [Stories("Addons/BuiltIns/Panel/Controls/ParameterControllers/Controllers/EnumParameterController (Radio)")]

<Stories TComponent="EnumParameterController">

    <Story Name="Nullable - No Value">
        <Template>
            <Stack>
                <CascadingValue Value="@(new ParameterControllerContext("key", NullableEnum, _Enum1, EventCallback.Factory.Create<ParameterInputEventArgs>(this, arg => _Enum1 = arg.Value)))">
                    <EnumParameterController />
                </CascadingValue>
                <ResetButton OnClick="() => _Enum1 = Unknown.Value" />
            </Stack>
            <p>@(_Enum1?.ToString() ?? "(null)")</p>
        </Template>
    </Story>

    <Story Name="Nullable - Initial Value">
        <Template>
            <Stack>
                <CascadingValue Value="@(new ParameterControllerContext("key", NullableEnum, _Enum2, EventCallback.Factory.Create<ParameterInputEventArgs>(this, arg => _Enum2 = arg.Value)))">
                    <EnumParameterController />
                </CascadingValue>
                <ResetButton OnClick="() => _Enum2 = SampleEnum.ValueX" />
            </Stack>
            <p>@(_Enum2?.ToString() ?? "(null)")</p>
        </Template>
    </Story>

    <Story Name="Nullable - Null Value">
        <Template>
            <Stack>
                <CascadingValue Value="@(new ParameterControllerContext("key", NullableEnum, _Enum3, EventCallback.Factory.Create<ParameterInputEventArgs>(this, arg => _Enum3 = arg.Value)))">
                    <EnumParameterController />
                </CascadingValue>
                <ResetButton OnClick="() => _Enum3 = null" />
            </Stack>
            <p>@(_Enum3?.ToString() ?? "(null)")</p>
        </Template>
    </Story>


    <Story Name="Non Nullable - No Value">
        <Template>
            <Stack>
                <CascadingValue Value="@(new ParameterControllerContext("key", Enum, _Enum1, EventCallback.Factory.Create<ParameterInputEventArgs>(this, arg => _Enum1 = arg.Value)))">
                    <EnumParameterController />
                </CascadingValue>
                <ResetButton OnClick="() => _Enum1 = Unknown.Value" />
            </Stack>
            <p>@(_Enum1?.ToString() ?? "(null)")</p>
        </Template>
    </Story>

    <Story Name="Non Nullable - Initial Value">
        <Template>
            <Stack>
                <CascadingValue Value="@(new ParameterControllerContext("key", Enum, _Enum2, EventCallback.Factory.Create<ParameterInputEventArgs>(this, arg => _Enum2 = arg.Value)))">
                    <EnumParameterController />
                </CascadingValue>
                <ResetButton OnClick="() => _Enum2 = SampleEnum.ValueX" />
            </Stack>
            <p>@(_Enum2?.ToString() ?? "(null)")</p>
        </Template>
    </Story>

    <Story Name="Non Nullable - Null Value">
        <Template>
            <Stack>
                <CascadingValue Value="@(new ParameterControllerContext("key", Enum, _Enum3, EventCallback.Factory.Create<ParameterInputEventArgs>(this, arg => _Enum3 = arg.Value)))">
                    <EnumParameterController />
                </CascadingValue>
                <ResetButton OnClick="() => _Enum3 = null" />
            </Stack>
            <p>@(_Enum3?.ToString() ?? "(null)")</p>
        </Template>
    </Story>

</Stories>

@code
{
    private readonly IComponentParameter Enum = SampleComponent.CreateParameter(nameof(SampleComponent.Enum));

    private readonly IComponentParameter NullableEnum = SampleComponent.CreateParameter(nameof(SampleComponent.NullableEnum));

    private object? _Enum1 = Unknown.Value;

    private object? _Enum2 = SampleEnum.ValueX;

    private object? _Enum3 = null;
}