@using BlazingStory.Addons.BuiltIns.Panel.Controls.ParameterControllers
@attribute [Stories("Addons/BuiltIns/Panel/Controls/ParameterControllers/Controllers/NumberParameterController")]

<Stories TComponent="NumberParameterController">

    @* ---- Nullable Int32 ---- *@

    <Story Name="Nullable Int32 - No Value">
        <Template>
            <Stack>
                <CascadingValue Value="@(new ParameterControllerContext("key", NullableInt32, _V1Unknown, EventCallback.Factory.Create<ParameterInputEventArgs>(this, arg => _V1Unknown = arg.Value)))">
                    <NumberParameterController />
                </CascadingValue>
                <ResetButton OnClick="() => _V1Unknown = Unknown.Value" />
            </Stack>
            @ValueDisplay(_V1Unknown)
        </Template>
    </Story>

    <Story Name="Nullable Int32 - Initial Value">
        <Template>
            <Stack>
                <CascadingValue Value="@(new ParameterControllerContext("key", NullableInt32, _V2Int32, EventCallback.Factory.Create<ParameterInputEventArgs>(this, arg => _V2Int32 = arg.Value)))">
                    <NumberParameterController />
                </CascadingValue>
                <ResetButton OnClick="() => _V2Int32 = 123" />
            </Stack>
            @ValueDisplay(_V2Int32)
        </Template>
    </Story>

    <Story Name="Nullable Int32 - Null Value">
        <Template>
            <Stack>
                <CascadingValue Value="@(new ParameterControllerContext("key", NullableInt32, _V3Null, EventCallback.Factory.Create<ParameterInputEventArgs>(this, arg => _V3Null = arg.Value)))">
                    <NumberParameterController />
                </CascadingValue>
                <ResetButton OnClick="() => _V3Null = null" />
            </Stack>
            @ValueDisplay(_V3Null)
        </Template>
    </Story>
    
    @* ---- Non Nullable Int32 ---- *@

    <Story Name="Non Nullable Int32 - No Value">
        <Template>
            <Stack>
                <CascadingValue Value="@(new ParameterControllerContext("key", Int32, _V1Unknown, EventCallback.Factory.Create<ParameterInputEventArgs>(this, arg => _V1Unknown = arg.Value)))">
                    <NumberParameterController />
                </CascadingValue>
                <ResetButton OnClick="() => _V1Unknown = Unknown.Value" />
            </Stack>
            @ValueDisplay(_V1Unknown)
        </Template>
    </Story>

    <Story Name="Non Nullable Int32 - Initial Value">
        <Template>
            <Stack>
                <CascadingValue Value="@(new ParameterControllerContext("key", Int32, _V2Int32, EventCallback.Factory.Create<ParameterInputEventArgs>(this, arg => _V2Int32 = arg.Value)))">
                    <NumberParameterController />
                </CascadingValue>
                <ResetButton OnClick="() => _V2Int32 = 123" />
            </Stack>
            @ValueDisplay(_V2Int32)
        </Template>
    </Story>

    <Story Name="Non Nullable Int32 - Null Value">
        <Template>
            <Stack>
                <CascadingValue Value="@(new ParameterControllerContext("key", Int32, _V3Null, EventCallback.Factory.Create<ParameterInputEventArgs>(this, arg => _V3Null = arg.Value)))">
                    <NumberParameterController />
                </CascadingValue>
                <ResetButton OnClick="() => _V3Null = null" />
            </Stack>
            @ValueDisplay(_V3Null)
        </Template>
    </Story>

    @* ---- Nullable Decimal ---- *@

    <Story Name="Nullable Decimal - No Value">
        <Template>
            <Stack>
                <CascadingValue Value="@(new ParameterControllerContext("key", NullableDecimal, _V1Unknown, EventCallback.Factory.Create<ParameterInputEventArgs>(this, arg => _V1Unknown = arg.Value)))">
                    <NumberParameterController />
                </CascadingValue>
                <ResetButton OnClick="() => _V1Unknown = Unknown.Value" />
            </Stack>
            @ValueDisplay(_V1Unknown)
        </Template>
    </Story>

    <Story Name="Nullable Decimal - Initial Value">
        <Template>
            <Stack>
                <CascadingValue Value="@(new ParameterControllerContext("key", NullableDecimal, _V2Decimal, EventCallback.Factory.Create<ParameterInputEventArgs>(this, arg => _V2Decimal = arg.Value)))">
                    <NumberParameterController />
                </CascadingValue>
                <ResetButton OnClick="() => _V2Decimal = 123.45m" />
            </Stack>
            @ValueDisplay(_V2Decimal)
        </Template>
    </Story>

    <Story Name="Nullable Decimal - Null Value">
        <Template>
            <Stack>
                <CascadingValue Value="@(new ParameterControllerContext("key", NullableDecimal, _V3Null, EventCallback.Factory.Create<ParameterInputEventArgs>(this, arg => _V3Null = arg.Value)))">
                    <NumberParameterController />
                </CascadingValue>
                <ResetButton OnClick="() => _V3Null = null" />
            </Stack>
            @ValueDisplay(_V3Null)
        </Template>
    </Story>

    @* ---- Non Nullable Decimal ---- *@

    <Story Name="Non Nullable Decimal - No Value">
        <Template>
            <Stack>
                <CascadingValue Value="@(new ParameterControllerContext("key", Decimal, _V1Unknown, EventCallback.Factory.Create<ParameterInputEventArgs>(this, arg => _V1Unknown = arg.Value)))">
                    <NumberParameterController />
                </CascadingValue>
                <ResetButton OnClick="() => _V1Unknown = Unknown.Value" />
            </Stack>
            @ValueDisplay(_V1Unknown)
        </Template>
    </Story>

    <Story Name="Non Nullable Decimal - Initial Value">
        <Template>
            <Stack>
                <CascadingValue Value="@(new ParameterControllerContext("key", Decimal, _V2Decimal, EventCallback.Factory.Create<ParameterInputEventArgs>(this, arg => _V2Decimal = arg.Value)))">
                    <NumberParameterController />
                </CascadingValue>
                <ResetButton OnClick="() => _V2Decimal = 123.45m" />
            </Stack>
            @ValueDisplay(_V2Decimal)
        </Template>
    </Story>

    <Story Name="Non Nullable Decimal - Null Value">
        <Template>
            <Stack>
                <CascadingValue Value="@(new ParameterControllerContext("key", Decimal, _V3Null, EventCallback.Factory.Create<ParameterInputEventArgs>(this, arg => _V3Null = arg.Value)))">
                    <NumberParameterController />
                </CascadingValue>
                <ResetButton OnClick="() => _V3Null = null" />
            </Stack>
            @ValueDisplay(_V3Null)
        </Template>
    </Story>

</Stories>

@code
{
    private RenderFragment<object?> ValueDisplay = (value) => @<p>@value?.ToString() (@(value?.GetType().Name ?? "null"))</p>;

    private readonly IComponentParameter Int32 = SampleComponent.CreateParameter(nameof(SampleComponent.Int32));

    private readonly IComponentParameter NullableInt32 = SampleComponent.CreateParameter(nameof(SampleComponent.NullableInt32));

    private readonly IComponentParameter Decimal = SampleComponent.CreateParameter(nameof(SampleComponent.Decimal));

    private readonly IComponentParameter NullableDecimal = SampleComponent.CreateParameter(nameof(SampleComponent.NullableDecimal));

    private object? _V1Unknown = Unknown.Value;

    private object? _V2Int32 = 123;
    
    private object? _V2Decimal = 123.45m;

    private object? _V3Null = null;
}