@using BlazingStory.Addons.BuiltIns.Panel.Controls.ParameterControllers
@attribute [Stories("Addons/BuiltIns/Panel/Controls/ParameterControllers/Controllers/TextParameterController")]

<Stories TComponent="TextParameterController">

    <Story Name="Text - No Value">
        <Template>
            <Stack>
                <CascadingValue Value="@(new ParameterControllerContext("key", String, _Text1, EventCallback.Factory.Create<ParameterInputEventArgs>(this, arg => _Text1 = arg.Value)))">
                    <div style="flex:1">
                        <TextParameterController />
                    </div>
                </CascadingValue>
                <ResetButton OnClick="() => _Text1 = Unknown.Value" />
            </Stack>
            <p>@(_Text1?.ToString() ?? "(null)")</p>
        </Template>
    </Story>

    <Story Name="Text - Initial Value">
        <Template>
            <Stack>
                <CascadingValue Value="@(new ParameterControllerContext("key", String, _Text2, EventCallback.Factory.Create<ParameterInputEventArgs>(this, arg => _Text2 = arg.Value)))">
                    <div style="flex:1">
                        <TextParameterController />
                    </div>
                </CascadingValue>
                <ResetButton OnClick="@(() => _Text2 = "Hello, World.")" />
            </Stack>
            <p>@(_Text2?.ToString() ?? "(null)")</p>
        </Template>
    </Story>

    <Story Name="Text - Null Value">
        <Template>
            <Stack>
                <CascadingValue Value="@(new ParameterControllerContext("key", String, _Text3, EventCallback.Factory.Create<ParameterInputEventArgs>(this, arg => _Text3 = arg.Value)))">
                    <div style="flex:1">
                        <TextParameterController />
                    </div>
                </CascadingValue>
                <ResetButton OnClick="() => _Text3 = null" />
            </Stack>
            <p>@(_Text3?.ToString() ?? "(null)")</p>
        </Template>
    </Story>


    <Story Name="Color - No Value">
        <Template>
            <Stack>
                <CascadingValue Value="@(new ParameterControllerContext("key", Color, _Color1, EventCallback.Factory.Create<ParameterInputEventArgs>(this, arg => _Color1 = arg.Value)))">
                    <TextParameterController />
                </CascadingValue>
                <ResetButton OnClick="() => _Color1 = Unknown.Value" />
            </Stack>
            <p>@(_Color1?.ToString() ?? "(null)")</p>
        </Template>
    </Story>

    <Story Name="Color - Initial Value">
        <Template>
            <Stack>
                <CascadingValue Value="@(new ParameterControllerContext("key", Color, _Color2, EventCallback.Factory.Create<ParameterInputEventArgs>(this, arg => _Color2 = arg.Value)))">
                    <TextParameterController />
                </CascadingValue>
                <ResetButton OnClick="@(() => _Color2 = "royalblue")" />
            </Stack>
            <p>@(_Color2?.ToString() ?? "(null)")</p>
        </Template>
    </Story>

    <Story Name="Color - Null Value">
        <Template>
            <Stack>
                <CascadingValue Value="@(new ParameterControllerContext("key", Color, _Color3, EventCallback.Factory.Create<ParameterInputEventArgs>(this, arg => _Color3 = arg.Value)))">
                    <TextParameterController />
                </CascadingValue>
                <ResetButton OnClick="() => _Color3 = null" />
            </Stack>
            <p>@(_Color3?.ToString() ?? "(null)")</p>
        </Template>
    </Story>

</Stories>

@code
{
    private readonly IComponentParameter String = SampleComponent.CreateParameter(nameof(SampleComponent.String));

    private readonly IComponentParameter Color = SampleComponent.CreateParameter(nameof(SampleComponent.Color), ControlType.Color);

    private object? _Text1 = Unknown.Value;

    private object? _Text2 = "Hello, World.";

    private object? _Text3 = null;

    private object? _Color1 = Unknown.Value;

    private object? _Color2 = "royalblue";

    private object? _Color3 = null;
}