@if (string.IsNullOrEmpty(this.Href))
{
    <button class="icon-button @GetCssClass()" title="@this.GetTitleText()" @onclick="this.ClickHandler">
        <SvgIcon Type="Icon" />
        @if (!string.IsNullOrEmpty(this.Text))
        {
            <span class="text">@this.Text</span>
        }
    </button>
}
else
{
    <a class="icon-button @GetCssClass()" title="@this.GetTitleText()" @onclick="this.ClickHandler" href="@this.Href" target="@this.Target">
        <SvgIcon Type="Icon" />
        @if (!string.IsNullOrEmpty (this.Text))
        {
            <span class="text">@this.Text</span>
        }
    </a>
}
