@attribute [Description("This is basic button component.")]

<button class="@(this.Color.ToString().ToLower()) @(this.Size.ToString().ToLower()) @(this.Bold ? "bold" : "")" @onclick="@((e) => OnClick.InvokeAsync(e))">
    <span>@this.Text</span>
</button>

@code {

    [Parameter]
    public bool Bold { get; set; }

    /// <summary>
    /// Set a text that is button caption.
    /// </summary>
    [Parameter, EditorRequired]
    public string? Text { get; set; }

    /// <summary>
    /// Set a color of the button. <see cref="ButtonColor.Default"/> is default.
    /// </summary>
    [Parameter]
    public ButtonColor Color { get; set; } = ButtonColor.Default;

    /// <summary>
    /// Set a size of the button. <see cref="ButtonSize.Medium"/> is default.
    /// </summary>
    [Parameter]
    public ButtonSize Size { get; set; } = ButtonSize.Medium;

    /// <summary>
    /// Set a callback method that will be invoked when users click the button.
    /// </summary>
    [Parameter]
    public EventCallback<MouseEventArgs> OnClick { get; set; }

    /// <summary>
    /// Initialize a new instance of <see cref="Button"/> class.
    /// </summary>
    public Button()
    {
    }
}
