@inject NavigationManager NavigationManager
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>StoryServerApp</title>
    <base href="@(new Uri(NavigationManager.BaseUri).AbsolutePath)" />
@*#if (Framework != "net8.0" && Framework != "net9.0")*@
    <ResourcePreloader />
@*#endif*@
@*#if (Framework != "net8.0")*@
    <ImportMap />
@*#endif*@
    <!--
    If you need to add <link> or <script> elements to include CSS 
    or JavaScript files for canvas views of your Stories,
    YOU SHOULD PLACE THEM HERE, not in the "IndexPage.razor" file.
    -->
@*#if (Framework == "net8.0")*@
    <link rel="stylesheet" href="css/blazor-ui.css" />
    <link rel="stylesheet" href="StoryServerApp.styles.css" />
@*#else*@
    <link rel="stylesheet" href="@Assets["css/blazor-ui.css"]" />
    <link rel="stylesheet" href="@Assets["StoryServerApp.styles.css"]" />
@*#endif*@
    <HeadOutlet @rendermode="@InteractiveServer" />
</head>

<body>
    <StoryServerApp.Components.App @rendermode="@InteractiveServer" />

    <div id="blazor-error-ui">
        An unhandled error has occurred.
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <!--
    If you need to add <script> elements to include 
    JavaScript files for canvas views of your Stories,
    YOU SHOULD PLACE THEM HERE, not in the "IndexPage.razor" file.
    -->
@*#if (Framework == "net8.0")*@
    <script src="_framework/blazor.web.js"></script>
@*#else*@
    <script src="@Assets["_framework/blazor.web.js"]"></script>
@*#endif*@
</body>

</html>
