@inject NavigationManager NavigationManager
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>StoryServerApp.1</title>
    <base href="@(new Uri(NavigationManager.BaseUri).AbsolutePath)" />
@*#if (Framework != "net8.0" && Framework != "net9.0")*@
    <ResourcePreloader />
@*#endif*@
@*#if (Framework != "net8.0")*@
    <ImportMap />
@*#endif*@
    <!--
    DON'T PUT ANY ADDITIONAL CSS OR JAVASCRIPT LINKS IN THIS FILE.
    Please do that in the "IFramePage.razor" instead.
    -->
@*#if (Framework == "net8.0")*@
    <link rel="stylesheet" href="css/blazor-ui.css" />
@*#else*@
    <link rel="stylesheet" href="@Assets["css/blazor-ui.css"]" />
@*#endif*@
    <HeadOutlet @rendermode="@InteractiveServer" />
</head>

<body>
    <StoryServerApp._1.Components.App @rendermode="@InteractiveServer" />

    <div id="blazor-error-ui">
        An unhandled error has occurred.
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <!--
    DON'T PUT ANY ADDITIONAL JAVASCRIPT LINKS IN THIS FILE.
    Please do that in the "IFramePage.razor" instead.
    -->
@*#if (Framework == "net8.0")*@
    <script src="_framework/blazor.web.js"></script>
@*#else*@
    <script src="@Assets["_framework/blazor.web.js"]"></script>
@*#endif*@
</body>

</html>
