@using static System.Math
@implements IAsyncDisposable

<div style="position:fixed; top:0; left:0; bottom:0; right:0; pointer-events:none; overflow:hidden !important; @(ResetCss)">

    @if (this._Measurement != null)
    {
        <div style="@this._ContentAreaStyle" />

        <div style="@this._PaddingStyle.Top" />
        <div style="@this._PaddingStyle.Left" />
        <div style="@this._PaddingStyle.Bottom" />
        <div style="@this._PaddingStyle.Right" />

        <div style="@this._MarginStyle.Top" />
        <div style="@this._MarginStyle.Left" />
        <div style="@this._MarginStyle.Bottom" />
        <div style="@this._MarginStyle.Right" />

        <div style="@this._PaddingNumStyle.Top">@Round(this._Measurement.Padding.Top)</div>
        <div style="@this._PaddingNumStyle.Left">@Round(this._Measurement.Padding.Left)</div>
        <div style="@this._PaddingNumStyle.Bottom">@Round(this._Measurement.Padding.Bottom)</div>
        <div style="@this._PaddingNumStyle.Right">@Round(this._Measurement.Padding.Right)</div>

        <div style="@this._MarginNumStyle.Top">@Round(this._Measurement.Margin.Top)</div>
        <div style="@this._MarginNumStyle.Left">@Round(this._Measurement.Margin.Left)</div>
        <div style="@this._MarginNumStyle.Bottom">@Round(this._Measurement.Margin.Bottom)</div>
        <div style="@this._MarginNumStyle.Right">@Round(this._Measurement.Margin.Right)</div>

        <div style="@this._ContentSizeStyle">@this._ContentSizeText</div>
    }

</div>
